@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "valorax";
    src: url("./fonts/Valorax-lg25V.otf");
};

@font-face {
    font-family: "space";
    src: url("./fonts/SpaceMono-Regular.ttf"), format('truetype');
};

@font-face {
    font-family: "decima";
    src: url("./fonts/DecimaMonoX.ttf"), format('truetype');
};

@font-face {
    font-family: "ron";
    src: url("./fonts/RON.ttf"), format('truetype');
};